.git
.github

.env
.env.*
!.env.example

node_modules
vendor

tests
.phpunit.cache
.phpunit.result.cache

storage/app/*
!storage/app/.gitignore
!storage/app/public
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*

bootstrap/cache/*.php
database/*.sqlite*

public/hot
public/storage

Dockerfile
.dockerignore
compose.yaml
compose.override.yaml

.idea
.vscode
